<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Cumulus Job Started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Dear <span th:text="${firstName}">John</span>,
    </p>
    <p>
      Just wanted to let you know that your on of the steps of your job, <span th:text="${jobName}">Job Name</span> has failed!
    </p>
    <p>
      Please login to <a th:href="${url}">Cumulus Portal</a> to check the status of the run.
    </p>
    <p>
      Regards, <br />
      <em>Cumulus Team</em>
    </p>
  </body>
</html>
