<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Cadence® Cloud Orchestrator Account Created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="logo"><img width="200px" alt="Embedded Image" th:src="${imgSrc}"></div>
    <p>
      Hello <span th:text="${firstName}"></span>,
    </p>
    <p>
      The administrator has created your account in Cadence® Cloud Orchestrator.<br/>
      You can log in by clicking the link below.
    </p>
    <p>
      <a th:href="${url}"><span th:text="${url}"></span></a><br/>
      Username: <span th:text="${email}"></span><br/>
      Password: Your cadence.com password
    </p>
    <p>
      Thank you,<br/>
      Cadence® Cloud Orchestrator Support Team
    </p>
  </body>
</html>
