<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Cadence Cloud Registration - Action Needed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <!-- <div class="logo"><img width="200px" alt="Embedded Image" th:src="${imgSrc}"></div> -->
    <p>
      Hello <span th:text="${firstName}"></span>,
    </p>
    <p>
      Your administrator (<span style="color: blue;text-decoration: underline;" th:text="${adminEmail}"></span>) has initiated the registration process on your behalf.<br/>
      Please change the temporary password by clicking the link below.
    </p>
    <p style="padding-left: 30px;">
      <strong>Registration URL:</strong>&nbsp;<a th:href="${url}"><span th:text="${url}"></span></a><br/>
      <strong>Username:</strong>&nbsp;<span style="color: blue;text-decoration: underline;" th:text="${email}"></span><br/>
      <strong>Password:</strong>&nbsp;<span th:text="${tempPassword}"></span><br/>
    </p>
    <p>
      <!--  Once you complete the step above, you can login to Cadence® Cloud Orchestrator at<br/> -->
      <!-- Once you complete the step above, you can login to Cadence<span style="font-size: 12px;">&reg;</span>Cloud Orchestrator at<br/> -->
      Once you complete the step above, you can login to Cadence&reg; Cloud Orchestrator at<br/>
    </p>
    <p style="padding-left: 30px;">
      <a th:href="${cadenceUrl}"><span th:text="${cadenceUrl}"></span></a>
    </p>
    <p>
      Thank you,<br/>
      Cadence Support Team
    </p>
  </body>
</html>
