<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Cumulus FastX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="alert alert-danger">
       <span th:text="${reason}">Unable to connect to XClient.</span>. Please contact the administrator.
    </div>
  </body>
</html>

