<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login - Cadence</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <link href="css/index.css" rel="stylesheet" media="all" />
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse cumulus-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img src="images/logo.png" />
                    </a>
                </div>
            </div>
        </nav>
        <main class="container-fluid">
          <div class="row-fluid">
              <div class="col-sm-4 col-sm-offset-4 login-view">
                  <div class="panel panel-default">
                      <div class="panel-body" style="padding: 32px;">
                          <legend>Logout</legend>
                          <h3>
                              Hello, <span th:text="${name}">Username</span>
                          </h3>
                          <form name="form" role="form" th:action="@{/logout}" method="post">
                              <div class="form-group text-right">
                                  <input type="submit" class="btn btn-default btn-lg" value="Logout" />
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
        </main>
        <footer class="footer" style="position:fixed;bottom:0;width:100%;">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12">
                        <p class="text-center">© 2016 Cadence Design Systems. Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
